h1{
    color:red;
    font-family: consolat;
    font-size: 30px;
    text-align: center;
}
h3{
    color:black;
    font-family: consolat;
    font-size: 15px;
    text-align: left;
}
body{
    background-image: url("./src/koli.jpg");
    background-position: center;
    background-size: cover;
}